.bicicletas-bg {
  background-image: linear-gradient(
    to right,
    var(--color-0) 30%,
    var(--color-11) 0%
  );
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/top-right.svg") no-repeat top 40px right 40px;
}

/* .bicicletas-imagem {
  position: relative;

  SOLUÇÃO COM POSITION PARA POSICIONAR O PREÇO DA BICICLETA.
} */

.bicicletas-imagem span {
  grid-area: 1 /1;
  place-self: start end;
  margin-top: 20px;
  display: inline-block;
  background-color: var(--color-12);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 4px 0px 0px 4px;
  /* position: absolute;
  top: 20px;
  right: 0px; */
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
  margin-bottom: 8px;
}

.bicicletas-conteudo p {
  margin-bottom: 32px;
}

.bicicletas-conteudo .seta {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

.bicicletas li + li {
  margin-top: 16px;
}
/* 
.bicicletas ul {
  display: grid;
  gap: 16px;
} */

@media (width <= 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicicletas-bg {
    background: var(--color-11);
  }
}

@media (width <= 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    font-size: 1rem;
    display: grid;
    margin-bottom: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .bicicletas .seta {
    place-self: start;
  }
}
